@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.tasks {
  flex: 1;
  min-height: calc(100vh - 45px);
  width: 656px;
  background-color: white;
  border-right: $generic-border;
  min-height: calc(100vh);
  vertical-align: top;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 80px;
  padding-bottom: 84px;

  @include mq("900px") {
    margin-left: 0;
    width: auto;
  }

  h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 0 30px 20px 0;
  }

  .add-task {
    margin-top: 20px;
  }

  .task-list-item {
    display: flex;
    line-height: 18px;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    list-style-type: none;
    border-bottom: 1px solid #f0f0f0;
    .completed {
      text-decoration: line-through;
      color: #999;
    }
  }
}
