.checkbox-holder {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 16px;

  .checkbox {
    cursor: pointer;
    border-color: gray;
    color: #343434;
    height: 16px;
    width: 16px;
    display: block;
    border: 1px solid gray;
    border-radius: 16px;
  }
  .is-completed {
    background-color: greenyellow;
    border-color: greenyellow;
    color: white;
  }
}
